.contenedor{
    display: flex;
    justify-content:center;

}
.img-1{
    width: 350px;
    height: 250px;

   
}

.img-2{
    width: 350px;
    height: 250px;
    border-radius: 200px;
   
}


.img-3{
    width: 350px;
    height: 250px;
    border-radius: 200px;
   
    
}

.img-4{
    width: 350px;
    height: 250px;
   
}

.img-5{
    width: 350px;
    height: 250px;

}

.img-6{
    width: 350px;
    height: 250px;
    border-radius: 200px;
}


david

.contenedor{
    display: flex;
    justify-content: center;
}
.img1{
    width: 350px;
    height: 250px;
}
.img2{
    width: 350px;
    height: 250px;
    border-radius: 200px;
    
}
.img3{
    width: 350px;
    height: 250px;
    border-radius: 200px;
}

.img4{
    width: 350px;
    height: 250px;
}

.img5{

    width: 350px;
    height: 250px;  

}

.img6{
    width: 350px;
    height: 250px;
    border-radius: 200px;
}

.img7{
    width: 350px;
    height: 250px;
}
.img8{
    width: 350px;
    height: 250px;
    border-radius: 200px;
}

jose
.contenedor{
    display: flex;
    justify-content: center;
}
.img1{
    width: 350px;
    height: 250px;
}
.img2{
    width: 350px;
    height: 250px;
    border-radius: 200px;
}
.img3{
    width: 350px;
    height: 250px;
    border-radius: 200px;

    }
    .img4{
        width: 350px;
        height: 250px;
        
        }
        .img5{
            width: 350px;
            height: 250px;
            

            }
            
        .img6{
         width: 350px;
         height: 250px;
         border-radius: 200px;
        }
        .img7{
            width: 350px;
            height: 250px;
            border-radius: 200px;
        }
        .img8{
            width: 350px;
            height: 250px;
        
        }
        .img9{
            width: 350px;
            height: 250px;
            
        }
        .img10{
            width: 350px;
            height: 250px;
            border-radius: 200px;
        }
        .img11{
            width: 350px;
            height: 250px;
            border-radius: 200px;
        }
        .img12{
            width: 350px;
            height: 250px;
            
            

            }

            sanson
            .contenedor{
                display: flex;
                justify-content: center;
            }
            .img1{
                width: 350px;
            height: 250px;
            
            }
            .img2{
                width: 350px;
                height: 250px;
                border-radius: 200px;
            }
            .img3{
                width: 350px;
                height: 250px;
                border-radius: 200px;
            
                }
                .img4{
                    width: 350px;
                    height: 250px;
                    
                    }
                    .img5{
                        width: 350px;
                        height: 250px;
            
                        }
                        .img6{
                            width: 350px;
                            height: 250px;
                            border-radius: 200px;
                        }
                        .img7{
                            width: 350px;
                            height: 250px;
                            border-radius: 200px;
                        }
                        .img8{
                            width: 350px;
                            height: 250px;
                        
                        }
                        .img9{
                            width: 350px;
                        height: 250px;
                            
                        }
                        .img10{
                            width: 350px;
                            height: 250px;
                            border-radius: 200px;
                        }
                        .img12{
                            width: 350px;
                            height: 250px;
                            
                        }
                        .img11{
                            width: 350px;
                            height: 250px;
                            border-radius: 200px;
                            
            
                            }
                            .img13{
                                width: 350px;
                                height: 250px;
                                
                            }
                            .img14{
                                width: 350px;
                            height: 250px;
                            border-radius: 200px;
                                
                
                                }

                                mandamientos
                                .contenedor{
                                    display: flex;
                                    justify-content: center;
                                }
                                .img1{
                                    width: 350px;
                                    height: 250px;
                                }
                                .img2{
                                    width: 350px;
                                    height: 250px;
                                    border-radius: 200px;
                                }
                                .img3{
                                    width: 350px;
                                    height: 250px;
                                    border-radius: 200px;
                                
                                    }
                                    .img4{
                                        width: 350px;
                                        height: 250px;
                                        
                                        }
                                        
                                        
                                        .contenedor{
                                            display: flex;
                                            justify-content: center;
                                        }
                                        .img1{
                                            width: 350px;
                                    height: 250px;
                                        }
                                        .img2{
                                            width: 350px;
                                            height: 250px;
                                            border-radius: 200px;
                                        }
                                        .img3{
                                            width: 350px;
                                            height: 250px;
                                            border-radius: 200px;
                                        
                                            }
                                            .img4{
                                                width: 350px;
                                                height: 250px;
                                                
                                                }
                                                .img5{
                                                    width: 350px;
                                                    height: 250px;
                                                    
                                        
                                                    }
                                                    .img6{
                                                        width: 350px;
                                                        height: 250px;
                                                        border-radius: 200px;
                                                    }
                                                    .img7{
                                                        width: 350px;
                                                        height: 250px;
                                                        border-radius: 200px;
                                                    }
                                                    .img8{
                                                        width: 350px;
                                                    height: 250px;
                                                    
                                                    }
                                                    .img9{
                                                        width: 350px;
                                                    height: 250px;
                                                        
                                                    }
                                                    .img10{
                                                        width: 350px;
                                                        height: 250px;
                                                        border-radius: 200px;
                                                    }